.gambar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
  margin-top: 2%;
  border-radius: 10px;
  border: 3px solid #33333300;
}

.clickable {
  cursor: pointer;
}
.batas {
  border: 2px solid #f0f0f000;
  padding: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.662);
  border-radius: 10px;
  border-style: double;
  transition: background-color 0.7s ease;
  margin-top: 2%;
}

.konten {
  border: 2px solid #f0f0f000;
  padding: 15px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.662);
  border-radius: 10px;
  border-style: double;
  margin-top: 1%;
  font-size: 15px;
}

.tulisan {
  font-size: larger;
}

.back-button {
  position: absolute;
  top: 400px;
  left: 80px;
  background-color: rgba(255, 255, 255, 0.662);
  color: #000000;
  border: none;
}

.back-button:hover {
  background-color: rgb(94, 221, 183);
}

.batas:hover {
  background-color: rgb(94, 221, 183);
  border: 4px solid #ffffff00;
}
.centered-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item:hover {
  border-radius: 10px;
  background-color: rgb(94, 221, 183);
  border: 1px solid rgba(0, 0, 0, 0);
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

body {
  background-image: url("data/background.jpg");
  background-size: cover; /* Adjust the size property as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}

footer {
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.662);
}

footer a {
  margin: 0 10px; /* Optional margin between the links */
  text-decoration: none;
  color: #333; /* Optional color for the links */
}

footer a:hover {
  border-radius: 5px;
  background-color: rgb(94, 221, 183);
  border: 1px solid rgba(0, 0, 0, 0);
}
